<div class="settingsComponent padding">

    <h1>User Profile</h1>
    <p> In order to change your password you have to enter you old password</p>

    <div class="labelBesideInput paddingLeft padding">
        <label class="label">First Name</label>
        <input type="password" class="custom-input-inline input-border round-large"readonly>
    </div>
    <div class="labelBesideInput paddingLeft">
        <label class="label">Last Name</label>
        <input type="email" class="custom-input-inline input-border round-large" readonly>
    </div>
   
    <div class="labelBesideInput paddingLeft padding">
        <label class="label">Email</label>
        <input type="password" class="custom--email-input-inline input-border round-large"readonly>
    </div><br>
    
    <div class="labelBesideInput paddingLeft padding">
        <label class="label">Phone Number</label>
        <input type="password" class="custom-input-inline input-border round-large"readonly>
    </div>
    
    <div class="labelBesideInput paddingLeft padding">
        <label class="label">Age</label>
        <input type="password" class="custom-input-inline input-border round-large"readonly>
    </div><br>


</div>