<div class="mainDiv">  
<div class="infoDiv">

   
    <div class="padding-20">
        <h1>Welcome!</h1>
    <h3>  This is an example project that contains  the main application properties that could be asked for in any porject like:
    </h3>
    <table>
        <tr>
            <td>
                <ul >
                    <li class="card">Database/Backend  creation</li>
                    <li class="card">Registration/ add to the database</li>
                    <li class="card">login/Logout </li>
                    <li class="card">Authentication from database to Login and session management</li>
            
                  </ul> 
            </td>
 
            <td>
                
      <ul>
        <li class="card">Api call and list data</li>
        <li class="card">Routing between pages</li>
        <li class="card">Simple Frontend</li> 

      </ul>
            </td>
        </tr>
    </table>



      <h3> This project was developed using Angular for the web development..(Html,CSS,TypeScript) </h3>
        <span *ngIf="true">
            , please login using
            <span (mouseover)="changeText=true" (mouseout)="changeText=false">
                <span *ngIf="!changeText" class="hover-fade">admin:pass1</span>
                <span *ngIf="changeText">admin:pass1</span>
            </span>
            to access the website.
        </span>
    </div>

    <div></div>

</div>
<div class="loginDiv">


</div>
</div>
