<div class="settingsComponent padding">

    <h1>Change Password</h1>
    <p> In order to change your password you have to enter you old password</p>
    <div class="labelBesideInput paddingLeft">
        <label class="label">Old Password</label>
        <input type="password" class="custom-input-inline input-border round-large">
    </div><br>
    <div class="labelBesideInput paddingLeft padding">
        <label class="label">New Password</label>
        <input type="password" class="custom-input-inline input-border round-large">
    </div><br>
    <div class="labelBesideInput paddingLeft padding">
        <label class="label">Confirm New Password</label>
        <input type="password" class="custom-input-inline input-border round-large">
    </div><br>
    <button class="customSettingsButton">Change Password</button>
</div>
