
<nav  class="toolbar" >

  <div class="registerMenu">
      <ul *ngIf="isAuthenticated()" >
        <li>
            <a class="regular-btn" *ngIf="isAuthenticated()" routerLink="/main"><span>Main</span></a>
        </li>
      </ul>
      <ul *ngIf="isAuthenticated()" >
        <li>
            <a class="regular-btn" *ngIf="isAuthenticated()" routerLink="/profile"><span>Profile</span></a>
        </li>
      </ul>
      
      <ul *ngIf="isAuthenticated()" >
        <li>
          <a class="regular-btn" *ngIf="isAuthenticated()" (click)="logout()" routerLink="/"><span>Logout</span></a>
        </li>
      </ul>
      <ul *ngIf="!isAuthenticated()">
        <li>
          <a class="regular-btn" *ngIf="!isAuthenticated()"routerLink=""><span>Login</span></a>
        </li>
      </ul>
      <ul *ngIf="!isAuthenticated()">
        <li>
          <a class="regular-btn" *ngIf="!isAuthenticated()"routerLink="/register"><span>Register</span></a>
        </li>
      </ul>

  </div>
 
</nav>
<div class="paddingDown"></div>
<router-outlet></router-outlet>
