<div class="settingsComponent padding">

    <h1>Change Name</h1>
    <p> Please enter your new first and last Name</p>
 
    <div class="labelBesideInput paddingLeft padding">
        <label class="label"> First Name</label>
        <input type="password" class="custom-input-inline input-border round-large">
    </div><br>
    <div class="labelBesideInput paddingLeft padding">
        <label class="label">Last Name</label>
        <input type="password" class="custom-input-inline input-border round-large">
    </div><br>
    <button class="customSettingsButton">Change Name </button>
</div>