/*My Styles*/

.mainDiv{

width: 100%;
height: 100%;
background-color: #d4f4f5;
padding-top: 50px;
padding-bottom: 50px;
}
.backGroundColor{
    width: max-content;
    height: max-content;
    background-color: #d4f4f5  !important;
    
    }

.title{
align-items: center;
}
.padding{
    padding: 5px;
}
.paddingRight{
    padding-right: 20px;
    padding-right: 20px;
}
.customButton{
    align-items: center;
    background-color: #0bd9f8; /* Green */
    border: 1px;
    color: white;
    padding: 15px 32px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.custom-input{
    padding:10px;
    
    display:block;
    border:none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: turquoise;
    border-bottom:1px solid #ccc;
    width:90%}

.small-input1{
        padding:10px;
        display:block;
        border:none;
        font-family: 'Times New Roman', Times, serif;
         font-size: large;
         color: turquoise;
        border-bottom:1px solid #ccc;
        display: inline-block;
        width:30%}
      
 .input-border{
     border:1px solid rgb(253, 252, 252)!important
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        color: rgb(24, 70, 73);
      }
      h3{
      
      
        color: rgb(24, 70, 73);

      }



.round-large{border-radius:8px}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
  }

.label {
    color:   rgb(4, 109, 119);
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
  }
.centerNoBorder {
    margin: auto;
    width: 50%;
    padding: 20px 10px 10px 10px ;
  }
  .center {
    margin: auto;
    width: 50%;
    height: 100%;
    border: 3px solid rgb(5, 229, 245);
    padding: 20px 10px 10px 10px ;
  }
.padding-20 {
    padding: 20px !important;
}
.registerMenu ul{
    display: inline-flex;
    margin: 50px;
}
.registerMenu il{
    list-style: none;
    margin: 0 50px;
    color: #d4f4f5;
   
}
.paddingDown{

    padding-bottom: 50px;
}
.paddingDown-10{
    padding-bottom: 5px;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:  #93ebee;
 
    color:  #93ebee;
    font-weight: 600;
  }
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }


  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #b6d3db;
    height: max-content;
    width: fit-content;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .spacer {
    flex: 1;
  }
.navButtons{
    align-items: right;

}


:root {
    --color-tertiary: #D2B798;
    --color-primary: #0c8df7;
    --color-secondary: #F59F6A;
    --color-tertiary-dim:rgba(210, 183, 152, 0.2)
  }
.heading{
    font-size: 16px !important;
    margin: 10px 0 20px 0 !important;
    text-transform: capitalize !important;
}


.regular-btn{

position: absolute;
text-decoration: none;
border: 2px solid transparent;
border-radius: 20px;
background-image: linear-gradient( #93ebee #93ebee),
 radial-gradient(circle at top left, white, white);
background-origin: border-box;
background-clip: content-box,border-box;
}

.regular-btn span{
    display: block;
    padding:8px 22px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
